<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Cloud</title>
</head>

<body>
    <h1>Login</h1>
    <img th:src="@{/images/TacoCloud.jpg}" width="250px" height="200px" />

    <!-- <span th:if="${error}">Please, provide correct credential.</span> -->
    <form th:action="@{/login}" th:method="POST">
        <label>
            <h4>Username:</h4>
            <input type="text" name="user">
        </label>
        <br/>
        <label>
            <h4>Password:</h4>
            <input type="password" name="pass">
        </label>
        <br/>
        <button>Create</button>
    </form>
</body>

</html>